/*هنا التنسيقات ومتعوب عليها بنسبه% 100*/
body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  background-image: url(images/door-100.jpeg);
  color: #0c0303;
}
header {
  background-image: url(images/door-108.jpeg);/*هنا خلفيه صوره من المعرض*/
  color: hsl(0, 67%, 1%);/*لون الخط*/
  padding: 30px 20px;/*هنا الحدود*/
  text-align: center;/* المحاذاه*/
  border-radius: 8px;/*يظهر اطراف المربع ربع دائره عل حسب*/
}
nav a {
  color: #310404;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
  color: #f11010;
}
.hero {
  color: #070404;
  text-align: center;
  padding: 80px 20px;
}
.btn {
  background-image: url(images/door-109.jpeg);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}
div {
  padding: 40px 20px;
  text-align: right;
}
div h2 {
  background-image: url(images/door-109.jpeg);
  border-radius: 8px;
  color: lch(98.07% 1.84 74.89);
  padding: 10px 20px;
}
.div1 {
  background-image: url(images/door-108.jpeg);
  border-radius: 8px;
}
.gallery {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 220px);
  gap: 8px;
  justify-content: center;
  align-items: start;
}
.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.15s ease;
}
.gallery img :hover {
  transform: scale(1.03);
}
select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #0c1013;
  color: #040706;
  background-image: url(images/door-108.jpeg);
}
.div2 {
  background-image: url(images/door-108.jpeg);
  border-radius: 8px;
}
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  padding-top: 70px;
}
.modal-content {
  display: block;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
section {
  color: #000;
  padding: 10px 10px;
  text-align: right;
}
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #ec0909;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.imgg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hh {
  background-image: url(images/door-109.jpeg);
  color: aliceblue;
  border-radius: 10px;
  padding: 10px 20px;
}
/*هنا قمنا بتنسيق الصور ليتناسب مع الهاتف تلقائي*/
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .gallery img {
    height: 230px;
    width: 90%;
  }
  .content {
    padding: 10px;
    text-align: center;
  }
}
